* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
}

/* Navbar */

nav {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  padding-right: 100px;
  width: 100%;
  height: 120px;
  box-shadow: 0px 0.5px 10px black;
  overflow: visible;
}
.background {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 120px;
  backdrop-filter: blur(12px);
  z-index: -2;
}

/* NavLogo */

.navLogo img {
  width: 200px;
  position: relative;
}

/* NavLinks */

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.link {
  position: relative;
}

.link .nav-link::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 0;
  bottom: 0;
  left: 5px;
  background-color: white;
  border-radius: 45px;
  transition: all 0.3s ease;
}

.link a:hover::after {
  width: 90%;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.subLinksPages {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  background-color: #444;
  top: 100%;
  left: 0;
  min-width: 150px;
  z-index: 1;
}

.subLinksPages li {
  width: 100%;
}

.subLinksPages li a {
  padding: 10px 20px;
  display: block;
  color: white;
  text-decoration: none;
}

.subLinksPages li a:hover {
  background-color: #666;
}

.link:hover .subLinksPages {
  display: block;
}

/* Hamburger Menu */

.hamburger {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1;
  transition: all 0.5s ease;
}

.hamburger .line {
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hamburger .line .top {
  width: 100%;
}

.hamburger .line .middle {
  width: 70%;
  align-self: center;
}

.hamburger .line .bottom {
  width: 100%;
}

/* Sidebar */

.sidebar {
  position: fixed;
  right: -250px;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: black;
  transition: all 0.5s ease;
  z-index: 1;
}

.hamburger.open {
  transform: translateX(60px);
  opacity: 0;
  transition: all 0.3s ease;
}

.sidebar.open {
  right: 0;
}

/* SidebarHamburger */

.sidebarHamburger.open {
  position: relative;
  width: 100%;
  height: 25px;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  z-index: 2;
  transition: all 0.5s ease;
}
.sidebarHamburger.open .top {
  height: 3px;
  width: 30px;
  transform: rotate(48deg);
  transform-origin: top left;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.sidebarHamburger.open .middle {
  opacity: 0;
}
.sidebarHamburger.open .bottom {
  height: 3px;
  width: 30px;
  transform: rotate(-48deg);
  transform-origin: bottom left;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Sidebar Content */

.sidebarContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.sidebarLogo img {
  width: 150px;
  position: relative;
}
.sidebarLogo {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 100px;
}

.sidebarSocialLinks {
  display: flex;
  justify-content: first baseline;
  color: white;
}
.sidebarSocialLinks ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  font-size: 25px;
}
.sidebarSocialLinks ul li a {
  display: flex;
  gap: 10px;
  text-decoration: none;
  font-weight: 300;
  color: white;
}
.sidebarSocialLinks ul li span {
  align-content: end;
}
.sidebarSocialLinks ul li span:hover {
  color: #666;
}
.sidebarSocialLinks .link img {
  width: 30px;
}

.sidebarSocialLinks .link:hover {
  cursor: pointer;
}

.sidebar .line {
  position: relative;
  display: flex;
  justify-items: center;
  margin: 0 10%;
  height: 1px;
  background-color: white;
  width: 80%;
}

.sidebarContactInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 10%;
  justify-content: first baseline;
  color: white;
  line-height: 0px;
}

.sidebarContactInfo h2 {
  font-weight: 500;
  letter-spacing: 1px;
}

.sidebarContactInfo h4 a {
  font-weight: 200;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
}

/* Hero */

.heroVideo {
  display: flex;
  padding-bottom: 500px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  z-index: -999;
  background-color: black;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: fit-content;
  margin-top: 80px;
  color: white;
  text-shadow: 0px 2px 10px black;
  opacity: 85%;
}

.heroHeading {
  font-size: 5rem;
  font-weight: 600;
}

.heroArtora {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  flex-direction: column;
}
.heroArtora h1 {
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 3px;
}
.heroArtora h1 span {
  font-weight: 200;
}
.heroArtora h2 {
  font-size: 3rem;
  font-weight: 400;
}

.text-rotate {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
  height: 65px;
  line-height: 60px;
  position: relative;
  margin-top: 0;
}

.text-rotate span {
  display: block;
  position: absolute;
  width: 100%;
  opacity: 0;
  animation: rotate 6s infinite;
}

.text-rotate span:nth-child(1) {
  animation-delay: 0s;
}
.text-rotate span:nth-child(2) {
  animation-delay: 1.5s;
}
.text-rotate span:nth-child(3) {
  animation-delay: 3s;
}
.text-rotate span:nth-child(4) {
  animation-delay: 4.5s;
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  5% {
    opacity: 1;
    transform: translateY(0%);
  }
  25% {
    opacity: 1;
    transform: translateY(0%);
  }
  30% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

/* Who We Are */

.whoWeAre {
  position: relative;
  display: flex;
  width: 100%;
  height: 672px;
  padding: 50px;
  background-color: black;
  color: white;
  margin-top: 100px;
}

.WWA-content {
  display: flex;
  width: 30%;
  justify-content: center;
  padding-top: 100px;
}

.WWA {
  font-weight: 300;
}

.WWA-slider {
  display: flex;
  width: 70%;
}

/*  */

.items {
  display: flex;
  position: relative;
  width: 100%;
  overflow-x: visible;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: url("Icons/icons8-swipe-48.png"), auto;
  user-select: none;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.items::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.items.active {
  cursor: url("Icons/icons8-swipe-48.png");
}

.item {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 400px;
  margin: 20px;
}

.item h1 {
  font-size: 3rem;
  font-weight: 400;
  text-wrap: wrap;
  margin-bottom: 0;
}

.item h4 {
  text-wrap: wrap;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 200;
}

.item img {
  height: 400px;
  object-fit: cover;
  margin-top: 20px;
  transition: transform 0.2s ease, filter 0.2s ease;
  transform-origin: center center;
}

.item img:hover {
  transform: scale(1.05) rotate(1deg); /* Scale up and rotate the image slightly */
  filter: brightness(70%) sepia(20%) hue-rotate(5deg); /* Dim the image and add color effects */
}

.item img:hover::before {
  opacity: 1; /* Fade in the overlay on hover */
}

.item h1,
.item h4 {
  position: relative;
  z-index: 2; /* Ensure text stays above the overlay */
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.item:hover h1,
.item:hover h4 {
  transform: translateY(-10px); /* Move the text slightly upwards */
  opacity: 0.8; /* Slightly fade the text on hover */
}

/* What We Offer */

.whatWeOffer {
  display: flex;
  background-color: #444;
  width: 100%;
  justify-content: center;
  color: white;
}

.WWO-content {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 20px;
  width: 80%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.WWO-content h2 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
}

.WWO-content h1 {
  margin-top: 5px;
  font-size: 2.5rem;
  font-weight: 400;
}

/* Our Events */

.ourEvents {
  position: relative;
  display: flex;
  width: 100%;
  height: 672px;
  padding: 50px;
  background-color: black;
  color: white;
}

.ourEvents-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0 40px;
  text-align: center;
  width: 30%;
}

.OE {
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 0;
}

.OE-des {
  font-weight: 200;
  font-size: 20px;
  text-align: justify;
}

.OE-slider {
  display: flex;
  width: 70%;
  overflow: scroll;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.OE-slider::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.line {
  display: flex;
  width: 100%;
  height: 1px;
  background-color: white;
}

.OE-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: fit-content;
}

.OE-item {
  display: flex;
  height: fit-content;
  gap: 20px;
}

.OE-item-image img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.OE-item-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 0;
  padding-right: 80px;
}
.OE-item-content h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 300;
}
.OE-item-content h4 {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 200;
}
.OE-item-content button {
  margin-top: 0;
  width: 100px;
  height: 30px;
  border-style: none;
  background-color: transparent;
  color: white;
}
.OE-item-content button:hover {
  background-color: #666;
  color: white;
}
.price {
  display: flex;
  justify-content: start;
  align-items: center;
}
